@ds:registry=https://merrillcorp.jfrog.io/merrillcorp/api/npm/mrll-npm/
//merrillcorp.jfrog.io/merrillcorp/api/npm/mrll-npm/:_password=${ARTIFACTORY_API_KEY}
//merrillcorp.jfrog.io/merrillcorp/api/npm/mrll-npm/:username=${ARTIFACTORY_USR}
//merrillcorp.jfrog.io/merrillcorp/api/npm/mrll-npm/:email=${ARTIFACTORY_EMAIL}
//merrillcorp.jfrog.io/merrillcorp/api/npm/mrll-npm/:always-auth=true


@fortawesome:registry=https://merrillcorp.jfrog.io/merrillcorp/api/npm/datasite-font-awesome/
//merrillcorp.jfrog.io/merrillcorp/api/npm/datasite-font-awesome/:_password=${ARTIFACTORY_API_KEY}
//merrillcorp.jfrog.io/merrillcorp/api/npm/datasite-font-awesome/:username=${ARTIFACTORY_USR}
//merrillcorp.jfrog.io/merrillcorp/api/npm/datasite-font-awesome/:email=${ARTIFACTORY_EMAIL}
//merrillcorp.jfrog.io/merrillcorp/api/npm/datasite-font-awesome/:always-auth=true
